.ex-rg {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 9.87%;
    padding-bottom: 49.87%;
    padding-left: 32.64%;
    padding-right: 32.64%;
    background-image: url('../images/about/ex-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.inner-ex-rg {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 40%;
    padding-bottom: 60%;
    background-image: url('../images/about/frame.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
}

.info-rg {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #eee;
}

.info-rg {
    h1 {
        font-size: medium;
        font-family: sans-serif;
        color: #999;
        border-bottom: 10px;
    }

    .name-info-rg {
        border-top: 5px;
        border-bottom: 5px;
        line-height: 150%;
        font-size: xx-large;
        font-family: sans-serif;
    }

    .desc-info-rg {
        width: 65%;
        float: right;
        p {
            border-top: 5px;
            border-bottom: 5px;
            color: #555;
            font-size: medium;
            font-family: sans-serif;
            line-height: 150%;
        }
        .note-block {
            font-size: small;
            line-height: 160%;
            color: #999;
        }
    }
}

.col-rg {
    display: table;
    width: 100%;
    background-color: #fff;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    border-spacing: 20px;
    font-family: sans-serif;

    .inner-col-rg {
        display: table-row;
        width: 100%;

        .col-rg-item {
            padding-top: 100px;
            display: table-cell;
            width: 33.33%;

            p {
                color: #000;
                font-size: medium;
                color: #777;
                line-height: 160%;
            }
            .title {
                color: #000;
            }
            a:hover{
                text-decoration: none;
            }
            a {
                color: #000;
            }
            background-repeat: no-repeat;
        }
        #item-products {
            background-image: url('../images/about/products.png');
            background-size: 50px;
        }
        #item-awards {
            background-image: url('../images/about/awards.png');
            background-size: 50px;
        }
        #item-members {
            background-image: url('../images/about/members.png');
            background-size: 66px;
        }
    }
}

.slogan-rg {
    display: table;
    width: 100%;
    font-family: sans-serif;
    background-color: #fff;
    border-spacing: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    .inner-slogan-rg {
        display: table-row;
        width: 100%;
        p {
            border: 0;
            display: table-cell;
            width: 33.33%;
            font-size: small;
            color: #999;
            line-height: 160%;
        }
    }
}

.invitation-rg {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #222;
    p {
        font-family: sans-serif;
        text-align: center;
        color: #fff;
        font-size: xx-large;
        margin-bottom: 30px;
    }
}

#logo {
    height: 50px;
    margin-bottom: 30px;
}

#join-btn {
    display: block-inline;
    font-size: large;
    color: #fff;
    background-color: #8173bc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition: background-color 0.5s;
}

#join-btn:hover {
    text-decoration: none;
    background-color: #222;
}

