@import "variable";

/* Helper Class */

.text-white {
  color: white !important;
}

.vertical-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* End Helper */

body {
  font-family: "Roboto", "Heiti SC", "Microsoft YaHei", "微软雅黑", "黑体", "宋体", sans-serif;
}

/* navbar */

#header {
  background-color: #222;
  padding-top: 0;
}

#nav {
  background: transparent !important;
  border-color: transparent;
}

#brand-logo {
  height: 110%;
  float: left;
}

#nav .navbar-brand,
#nav-right > li > a,
#nav-left > li > a {
  color: white;
  font-size: 1.2em;
}

#logo-holder {
  width: 250px;
  border: 2px white solid;
  border-radius: 10px;
  padding: 10px;
}

#logo-holder > img {
  width: 100%;
  z-index: 1;
}

#header > h1 {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 2em;
}

@media screen and (min-width: $screen-sm-min) {
  #header > h1 {
    font-size: 3em;
  }
}

#header > a {
  width: 200px;
  border-radius: 30px;
  border: solid white 2px;
  text-align: center;
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

#header > a:hover {
  background-color: white;
  color: black;
}

/* End navbar */

/* footer */

.footer {
  background-color: #222;
  color: #eee;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

/* End footer */
