@import "variable";

/* Helper Class */

.text-white {
  color: white !important;
}

.vertical-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* End Helper */

body {
  font-family:$font-family-sans-serif;
}

/* navbar */

#brand-logo {
  height: 110%;
  float: left;
}

#nav .navbar-brand,
#nav-right > li > a,
#nav-left > li > a {
  font-size: 1.2em;
}

.navbar {
  z-index: 3;
}

/* End navbar */

/* footer */

.footer {
  background-color: #222;
  color: #eee;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

@media screen and (max-width:$screen-xs-max) {
  .footer-left,.footer-right {
    text-align: center;
  }
}
/* End footer */
