/*.version {*/
  /*-moz-user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
/*}*/

.introduction {
  padding: 20px;
  padding-bottom: 40px;
  font-size: 1.2em;
}

.introduction-header {
  padding: 0;
}

.introduction-header-title {
  font-size: 1.5em;
  line-height: 1.3em;
}

@media screen and (min-width: 768px) {
  .introduction-header-title {
    font-size: 3em;
  }
}

.introduction-header-content {
  font-size: 1.5em;
}

#invitation,
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  #invitation,
  #contact {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 767px) {
  #invitation,
  #contact {
    font-size: 1.5em !important;
  }
}

#joinus {
  font-size: 1.3em;
  background-color: rgb(0, 156, 255);
  color: white;
  padding: 10px;
  width: 300px;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .contact-ways p {
    font-size: 1em;
  }

  .contact-ways .fa {
    font-size: 2em;
  }
}

.contact-ways p {
  font-size: 1em;
}

.contact-ways .fa {
  font-size: 2em;
}

.contact-ways .p,
.contact-ways .fa {
  color: black;
}

@media screen and (min-width: 992px) {
  .icon {
    font-size: 10em;
  }
}

.icon {
  font-size: 8em;
}

#icon1 {
  color: rgb(170, 129, 243);
}

#icon2 {
  color: rgb(248, 194, 16);
}

#icon3 {
  color: rgb(51, 177, 248);
}

.introduction > p {
  color: rgb(164, 171, 176);
}

#projects {
  background-image: linear-gradient(to top left,rgb(85,85,100) 10%,rgb(81,86,101) 100%);
  padding-bottom: 40px;
  padding-top: 40px;
}

.project-image {
  width: 50%;
}

@media screen and (min-width: 768px) {
  #qrcode {
    margin: 20px;
    width: 25%;
  }
}

.border {
  border-bottom: 1px solid #e5e5e5;
}

.githublink,
.emaillink:visited,
.githublink:hover,
.emaillink,
.emaillink:visited,
.emaillink:hover,
.renrenlink,
.renrenlink:visited,
.renrenlink:hover {
  color: #000;
  text-decoration: none;
}

.project-text > p {
  color: rgb(164, 171, 176);
}

#contactus:link,
#contactus:visited,
#contactus:hover,
#contactus:active {
  color: #ffffff !important;
}

.musvg {
  background: lightseagreen;
  border-radius: 100px;
}

.etasvg {
  background: #E91E63;
  border-radius: 100px;
}

.camussvg {
  background: deepskyblue;
  border-radius: 100px;
}

.musvg > img {}
