
#logo-img {
/*    margin-bottom: auto;
    margin-top: auto;*/
    width: 100%;
    z-index: 1;
}

.button {
    text-decoration: none !important;
}

#downlaod {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#projects {
    margin-top: 20px;
}

p.lead a:hover {
    background-color: white;
    color: rgb(59,18,64);
}

p.lead a {
    color: white;
}

@media  (min-width: 768px) {
    .lead {
        font-size: 2.7em !important;
    }
}

@media (max-width:767px) {
    .lead {
        font-size: 1.7em !important;
    }
}


