/*.version {*/
/*-moz-user-select: none;*/
/*-webkit-user-select: none;*/
/*-ms-user-select: none;*/
/*}*/

.introduction {
  padding: 20px;
  padding-bottom: 40px;
  font-size: 1.2em;
}

.navbar {
  margin-bottom: 30px;
  z-index: 3;
}

#header {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  #header {
    background-color: rgb(117, 101, 148);
  }
}

.slides {
  margin-top: -80px;
  z-index: 1;
}

.swiper-slide-active {
  z-index: 2;
}

#slide {
  padding-bottom: 0;
  margin-bottom: 0;

}

a {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: yellow;
}

#footer {
  border-top: none;
  background-color: #454c56;
  color: #c4c4c4;
  padding: 15px 0;
  margin: 0 -15px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

#footer > a {
  width: 200px;
  border-radius: 5px;
  border: solid white 2px;
  text-align: center;
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  padding: 5px 16px;
}

#footer > a:hover {
  background-color: white;
  color: black;
}

.slide1 {
  background-color: rgb(117, 101, 148);
  height: 890px;
}

#pic1-1 {
  float: left;
  margin-left: -70px;
  margin-top: 80px;
}

#pic1-2 {
  float: right;
  margin-right: -100px;
  margin-top: 110px;
}

#pic1-3 {
  width: 100%;
  margin-top: 100px;
}

#mid1 {
  float: left;
  margin-left: -306px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text1-1 {
  color: #ffffff;
  font-size: 30px;
}

#text1-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #pic1-1 {
    margin-left: -220px;
  }

  #pic1-2 {
    margin-right: -250px;
  }

  #mid1 {
    margin-left: -156px;
    margin-right: -500px;
  }
}

.slide2 {
  background-color: rgb(181, 105, 106);
  height: 890px;
}

#pic2-1 {
  float: left;
  margin-left: 30px;
  margin-top: 80px;
}

#pic2-2 {
  float: right;
  margin-right: 0px;
  margin-top: 110px;
}

#pic2-3 {
  width: 100%;
  margin-top: 20px;
}

#mid2 {
  float: left;
  margin-left: -290px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text2-1 {
  color: #ffffff;
  font-size: 30px;
}

#text2-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #pic2-1 {
    margin-left: -70px;
  }

  #pic2-2 {
    margin-right: -100px;
  }

  #mid2 {
    margin-left: -190px;
  }
}

.slide3 {
  background-color: rgb(87, 151, 189);
  height: 890px;
}

#pic3-1 {
  float: left;
  margin-top: 180px;
  margin-left: 30px;
}

#pic3-2 {
  float: right;
  margin-right: 0px;
  margin-top: 110px;
}

#pic3-3 {
  width: 100%;
  margin-top: 100px;
}

#mid3 {
  float: left;
  margin-left: -342px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text3-1 {
  color: #ffffff;
  font-size: 30px;
}

#text3-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #pic3-1 {
    margin-left: -70px;
  }

  #pic3-2 {
    margin-right: -100px;
  }

  #mid3 {
    margin-left: -242px;
  }
}

.introduction-header {
  padding: 0;
}

.introduction-header-title {
  font-size: 1.5em;
  line-height: 1.3em;
}

@media screen and (min-width: 768px) {
  .introduction-header-title {
    font-size: 3em;
  }
}

.introduction-header-content {
  font-size: 1.5em;
}

#invitation,
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  #invitation,
  #contact {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 767px) {
  #invitation,
  #contact {
    font-size: 1.5em !important;
  }
}

#joinus {
  font-size: 1.3em;
  background-color: rgb(0, 156, 255);
  color: white;
  padding: 10px;
  width: 300px;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .contact-ways p {
    font-size: 1em;
  }

  .contact-ways .fa {
    font-size: 2em;
  }
}

.contact-ways p {
  font-size: 1em;
}

.contact-ways .fa {
  font-size: 2em;
}

.contact-ways .p,
.contact-ways .fa {
  color: black;
}

@media screen and (min-width: 992px) {
  .icon {
    font-size: 10em;
  }
}

.icon {
  font-size: 8em;
}

#icon1 {
  color: rgb(170, 129, 243);
}

#icon2 {
  color: rgb(248, 194, 16);
}

#icon3 {
  color: rgb(51, 177, 248);
}

.introduction > p {
  color: rgb(164, 171, 176);
}

#projects {
  background-image: linear-gradient(to top left, rgb(85, 85, 100) 10%, rgb(81, 86, 101) 100%);
  padding-bottom: 40px;
  padding-top: 40px;
}

.project-image {
  width: 80%;
}

@media screen and (min-width: 768px) {
  #qrcode {
    margin: 20px;
    width: 25%;
  }
}

.border {
  border-bottom: 1px solid #e5e5e5;
}

.githublink,
.emaillink:visited,
.githublink:hover,
.emaillink,
.emaillink:visited,
.emaillink:hover,
.renrenlink,
.renrenlink:visited,
.renrenlink:hover {
  color: #000;
  text-decoration: none;
}

.project-text > p {
  color: rgb(164, 171, 176);
}

#contactus:link,
#contactus:visited,
#contactus:hover,
#contactus:active {
  color: #ffffff !important;
}

.musvg,
.camussvg,
.etasvg {
  border-radius: 30px;
  height: 180px;
  width: 70%;
}

.musvg {
  background: lightseagreen;
}

.etasvg {
  background: #E91E63;
}

.camussvg {
  background: deepskyblue;
}

.musvg > img {
  height: 85%;
}

.etasvg > img {
  height: 97%;
}

.camussvg > img {
  height: 97%;
}
