@import "variable";
$slider-color-1:rgb(117, 101, 148);
$slider-color-2:rgb(181, 105, 106);
$slider-color-3:rgb(87, 151, 189);


body {
  position: relative;
  overflow: hidden;
  background-color: $slider-color-1;
}

.navbar {
  z-index: 3;
}

#header,.navbar-default {
  background-color: transparent;
}

#footer {
  $footer-height: 80px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: $footer-height;
  line-height: $footer-height;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

#footer > a {
  width: 200px;
  vertical-align: middle;
  border: solid white 2px;
  text-align: center;
  color: #fff;
  text-decoration: none !important;
  font-size: 70%;
  cursor: pointer;
  padding: 5px 16px;
}

.slides {
  transform: translate(0, - $navbar-height - $navbar-margin-bottom - 2px);
  user-select: none;
}

.swiper-slide {
  overflow: hidden;
  height: 100vh;
}

a {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: yellow;
}

#footer > a:hover {
  background-color: white;
  color: black;
}

.mid {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  transform: translateY(-50%);
}

.slide1 {
  background-color: $slider-color-1;
}

.pic-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  z-index: 0;
}

.pic-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  z-index: 0;
}

.pic-mid {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  z-index: 1;
}

.pic-mid>img {
  max-width: 100vw
}

.text-main {
  color: #ffffff;
  font-size: 30px;
}

.text-link {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

#pic1-1>img {
  transform: translate(-68px,-384px);
}

#pic1-2>img {
  transform: translate(-280px,-350px);
}

#pic1-3>img {
  transform: translate(-50%,-460px);
}

.slide2 {
  background-color: $slider-color-2;
}

#pic2-1>img {
  transform: translate(36px,-384px);
}

#pic2-2>img {
  transform: translate(-320px,-360px);
}

#pic2-3>img {
  transform: translate(-50%,-520px);
}

.slide3 {
  background-color: $slider-color-3;
}

#pic3-1>img {
  transform: translate(24px,-280px);
}

#pic3-2>img {
  transform: translate(-320px,-348px);
}

#pic3-3>img {
  transform: translate(-50%,-440px);
}

@media screen and (max-width: $screen-xs-max) {
  .mid {
    top: 45%;
  }

  #pic1-1>img {
    transform: translate(-212px,-224px);
  }

  #pic1-2>img {
    transform: translate(-160px,-328px);
  }

  #pic1-3>img {
    transform: translate(-50%,-256px);
  }

  #pic2-1>img {
    transform: translate(-120px,-216px);
  }

  #pic2-2>img {
    transform: translate(-172px,-328px);
  }

  #pic2-3>img {
    transform: translate(-50%,-284px);
  }

  #pic3-1>img {
    transform: translate(-108px,-180px);
  }

  #pic3-2>img {
    transform: translate(-140px,-320px);
  }

  #pic3-3>img {
    transform: translate(-50%,-248px);
  }

}
