@import "variable";

body {
  position: relative;
  overflow: hidden;
}

.navbar {
  z-index: 3;
}

#header {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  #header {
    background-color: rgb(117, 101, 148);
  }
}

.slides {
  transform: translate(0, - $navbar-height - $navbar-margin-bottom - 2px);
}

.swiper-slide {
  overflow: hidden;
  height: 100vh;
}

#slide {
  padding-bottom: 0;
  margin-bottom: 0;

}

a {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  color: yellow;
}

#footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 35px 0;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

#footer > a {
  width: 200px;
  border: solid white 2px;
  text-align: center;
  color: #fff;
  text-decoration: none !important;
  font-size: 70%;
  cursor: pointer;
  padding: 5px 16px;
}

#footer > a:hover {
  background-color: white;
  color: black;
}

.slide1 {
  background-color: rgb(117, 101, 148);
}

#pic1-1 {
  float: left;
  margin-left: -70px;
  margin-top: 80px;
}

#pic1-2 {
  float: right;
  margin-right: -100px;
  margin-top: 110px;
}

#pic1-3 {
  width: 100%;
  margin-top: 50px;
}

#mid1 {
  float: left;
  margin-left: -306px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text1-1 {
  color: #ffffff;
  font-size: 30px;
}

#text1-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

.slide2 {
  background-color: rgb(181, 105, 106);
}

#pic2-1 {
  float: left;
  margin-left: 30px;
  margin-top: 80px;
}

#pic2-2 {
  float: right;
  margin-right: 0;
  margin-top: 110px;
}

#pic2-3 {
  width: 100%;
  // margin-top: 20px;
}

#mid2 {
  float: left;
  margin-left: -290px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text2-1 {
  color: #ffffff;
  font-size: 30px;
}

#text2-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

.slide3 {
  background-color: rgb(87, 151, 189);
}

#pic3-1 {
  float: left;
  margin-top: 180px;
  margin-left: 30px;
}

#pic3-2 {
  float: right;
  margin-right: 0;
  margin-top: 110px;
}

#pic3-3 {
  width: 100%;
  margin-top: 50px;
}

#mid3 {
  float: left;
  margin-left: -342px;
  margin-right: -500px;
  height: 360px;
  width: 100%;
  text-align: center;
  margin-top: 320px;
}

#text3-1 {
  color: #ffffff;
  font-size: 30px;
}

#text3-2 {
  color: #ffffff;
  margin-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  #pic1-1 {
    margin-top: 120px;
    margin-left: -212px;
  }

  #pic1-2 {
    margin-top: 30px;
    margin-right: -220px;
  }

  #mid1 {
    margin-left: -156px;
    margin-right: -500px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  #pic2-1 {
    margin-top: 150px;
    margin-left: -120px;
  }

  #pic2-2 {
    margin-top: 30px;
    margin-right: -160px;
  }

  #mid2 {
    margin-left: -140px;
    img {
      width: 100%;
      height: 100%;
    }
  }


  #pic3-1 {
    margin-left: -100px;
  }

  #pic3-2 {
    margin-top: 50px;
    margin-right: -170px;
  }

  #mid3 {
    margin-left: -202px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

#joinus {
  font-size: 1.3em;
  background-color: rgb(0, 156, 255);
  color: white;
  padding: 10px;
  width: 300px;
  border-radius: 50px;
}
