#logo-img {
    width: 100%;
    z-index: 1;
}

.button {
    text-decoration: none !important;
}

.version {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

p.lead a:hover {
    background-color: white;
    color: rgb(59,18,64);
}

p.lead a {
    color: white;
}

@media screen and (min-width: 768px) {
    .lead {
        font-size: 2.7em !important;
    }
}

@media screen and (max-width:767px) {
    .lead {
        font-size: 1.7em !important;
    }
}

.introduction {
    padding: 50px;
    font-size: 1.2em;
}

#invitation,
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    #invitation,
    #contact {
        font-size: 2em !important;
    }
}

@media screen and (max-width:767px) {
    #invitation,
    #contact {
        font-size: 1.5em !important;
    }
}

#joinus {
    font-size: 1.3em;
    background-color: rgb(115,38,80);
    color: white;
    padding: 10px;
    width: 300px;
}

@media screen and (min-width: 768px) {
  .contact-ways p {
    font-size: 1em;
  }

  .contact-ways .fa {
    font-size: 2em;
  }
}

.contact-ways p {
    font-size: 1em;
}

.contact-ways .fa {
    font-size: 2em;
  }

@media screen and (min-width: 992px) {
    .icon {
        font-size: 10em;
    }
}

.icon {
    font-size: 8em;
}

@media screen and (min-width: 768px) {
    #qrcode {
        margin: 20px;
        width: 25%;
    }
}

.border {
  border-bottom: 1px solid #e5e5e5;
}
