body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto" "微软雅黑";
}


#logo-img {
/*    margin-bottom: auto;
margin-top: auto;*/
width: 100%;
z-index: 1;
}

.button {
  text-decoration: none !important;
}

@media  (min-width: 768px) {
  .lead {
    font-size: 2.7em !important;
  }
}

@media (max-width:767px) {
  .lead {
    font-size: 1.7em !important;
  }
}

body {
  position: relative
}

.bs-docs-booticon {
  display: block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: #563d7c;
  border-radius: 15%
}

.bs-docs-booticon-sm {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 28px
}

.bs-docs-booticon-lg {
  width: 200px;
  height: 200px;
  font-size: 108px;
  line-height: 140px
}

.bs-docs-booticon-inverse {
  color: #563d7c;
  background-color: #fff
}

.bs-docs-booticon-outline {
  background-color: transparent;
  border: 1px solid #cdbfe3
}

.bs-docs-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0
}

.bs-home-nav .bs-nav-b {
  display: none
}

.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
  font-weight: 500;
  color: #563d7c
}

.bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover, .bs-docs-nav .navbar-nav>li>a:hover {
  color: #463265;
  background-color: #f9f9f9
}

.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c
}

.bs-docs-nav .navbar-header .navbar-toggle {
  border-color: #fff
}

.bs-docs-nav .navbar-header .navbar-toggle:focus, .bs-docs-nav .navbar-header .navbar-toggle:hover {
  background-color: #f9f9f9;
  border-color: #f9f9f9
}

@media (min-width:768px) {
  .bs-docs-footer p {
    margin-bottom: 0
  }
}

.bs-docs-social {
  margin-bottom: 20px;
  text-align: center
}

.bs-docs-social-buttons {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.bs-docs-social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1
}

.bs-docs-social-buttons .twitter-follow-button {
  width: 225px !important
}

.bs-docs-social-buttons .twitter-share-button {
  width: 98px !important
}

.github-btn {
  overflow: hidden;
  border: 0
}

.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background: linear-gradient(45deg,#020031 0,#6d3353 100%);
  background-repeat: repeat-x
}

.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px
}

.bs-docs-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff
}

.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}

.bs-docs-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #9783b9
}

.bs-docs-masthead .button {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px
}

@media (min-width:480px) {
  .bs-docs-masthead .button {
    width: auto
  }
}

@media (min-width:768px) {
  .bs-docs-masthead {
    padding: 80px 0
  }

  .bs-docs-masthead h1 {
    font-size: 60px
  }

  .bs-docs-masthead .lead {
    font-size: 24px
  }
}

@media (min-width:992px) {
  .bs-docs-masthead .lead {
    width: 80%;
    font-size: 30px
  }
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
}

.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}

.bs-docs-header .lead{
  color: #fff;
}

.bs-docs-header p{
  color: #fff;
}

@media (min-width:480px) {
  .carbonad {
    width: 330px !important;
    margin: 20px auto !important;
    border-width: 1px !important;
    border-radius: 4px
  }

  .bs-docs-masthead .carbonad {
    margin: 50px auto 0 !important
  }
}

.bs-navbar-bottom-example, .bs-navbar-top-example {
  z-index: 1;
  padding: 0;
  overflow: hidden
}

.bs-navbar-bottom-example .navbar-header, .bs-navbar-top-example .navbar-header {
  margin-left: 0
}

.bs-navbar-bottom-example .navbar-fixed-bottom, .bs-navbar-top-example .navbar-fixed-top {
  position: relative;
  margin-right: 0;
  margin-left: 0
}

.bs-navbar-top-example {
  padding-bottom: 45px
}

.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px
}

.bs-navbar-top-example .navbar-fixed-top {
  top: -1px
}

.bs-navbar-bottom-example {
  padding-top: 45px
}

.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px
}

.bs-navbar-bottom-example .navbar {
  margin-bottom: 0
}

.footer {
  border-top: none;
  background-color: #454c56;
  color: #c4c4c4;
  padding: 15px 0;
  margin: 0 -15px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;

}

@media (max-width:767px) {
  .footer {
    margin-top: 20px;
  }
}
@media (min-width:768px) {
  .bs-navbar-bottom-example .navbar-fixed-bottom, .bs-navbar-top-example .navbar-fixed-top {
    position: absolute
  }
}
