.itemcircle {
	visibility: hidden;
}

.navbar {
	font-size: 1.2em;
}

.navbar-brand:hover {
	color: rgb(95,49,125) !important;
}

.dropdown-menu a {
	color: rgb(95,49,125) !important;
}

.version {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}