.photos {
	border: 2px solid rgba(0, 0, 0, 0.84);
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    margin: auto;
    z-index: 10;
}

.subtitle, .name, .post, .photo{
	text-align: center;
	font-family: Helvetica Neue, tahoma, arial, "Hiragino Sans GB", Microsoft YaHei;
}

.subtitle {
	font-size: 80px;
	margin-top: 50px;
	margin-bottom: 100px;
}

.name {
	font-size: 40px;
	margin: 10px;
	color: black;
}

.post {
	font-size: 25px;
	color: #777777;
	margin-bottom: 50px;
}

.groups {
    border-bottom: 3px solid #bbbbbb;
    padding-bottom: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 1000px) {
	.photos {
        width: 120px;
        height: 120px;
    }

    .subtitle {
    	font-size: 50px;
    }

    .name {
    	font-size: 17px;
    }

    .post {
    	font-size: 10px;
    }
}

