.footer {
    text-align: center;
}

#sub-title {
  margin-top: 15px;
  margin-bottom: 15px;

}

#pointOne {
  height: 200px;
  float: left;
}

#pointTwo {
  height: 200px;
  float: right;
}

#pointThree {
  height: 200px;
  float: left;
}

#pointFour {
  height: 200px;
  float: right;
}

#pointFive {
  height: 200px;
  float: left;
}

p {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.introduction {
  text-align: center;
  font-size: 40px;
  padding-top: 25%;
}

.profile {
  border: 0px solid rgba(0, 0, 0, 0.84);
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 4px;
  margin-left: 0px;
}

.profile1 {
  position: absolute;
  margin-top: 16%;
  margin-left: 17%;
}

.profile2 {
  position: absolute;
  margin-top: 15%;
  margin-left: 29%;
}

.profile3 {
  position: absolute;
  margin-top: 12%;
  margin-left: 18%;
}

.profile4 {
  position: absolute;
  margin-top: 13%;
  margin-left: 33%;
}

.profile5 {
  position: absolute;
  margin-top: 9%;
  margin-left: 15%;
}

h4.name {
  margin-top: 20px;
  bottom: 20px;
  position:absolute;
  left: 0;
  right: 0;
}

h3.title {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 35px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto" "微软雅黑";
}
