.photos {
  border: 2px solid rgba(0, 0, 0, 0.84);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
  margin: auto;
  z-index: 10;
}

.main-title {
  text-align: center;
  font-size: 55px;
  margin-top: 80px;
  margin-bottom: 20px;
  font-weight: 100;
}

.intro {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 100;
}

.subtitle, .name, .post, .photo {
  text-align: center;
  font-family: Helvetica Neue, tahoma, arial, "Hiragino Sans GB", Microsoft YaHei;
}

.subtitle {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.name {
  font-size: 17px;
  margin: 10px;
  color: black;
}

.post {
  font-size: 10px;
  color: #777777;
  margin-bottom: 50px;
}

.groups {
  border-bottom: 3px solid #bbbbbb;
  padding-bottom: 80px;
  margin-top: 30px;
  margin-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1000px) {
  .photos {
    width: 120px;
    height: 120px;
  }

  .main-title {
    font-size: 85px;
  }

  .intro {
    font-size: 45px;
  }

  .groups {
    margin-top: 50px;
  }
}

#contactus:link,
#contactus:visited,
#contactus:hover,
#contactus:active {
  color: #ffffff !important;
}
