body {
  margin: 0 auto;
  text-align: center;
  background: #6cc;
  color: #fff;
}

h1 {
  font-size: 108px;
}

h2 {
  font-size: 48px;
  color: #ccc;
}

h3 {
  margin-top: -60px;
  font-size: 24px;
  color: #fff;
}
