@import "variable";

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.dodge {
  color: #605C5C;
}

header{
  margin-bottom: 60px;
  margin-top: 50px;
  text-align: center;
  .phone-wrap{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  #carousel-phone {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 100% * 69px / 336px;
    padding-left: 100% * 55px / 672px;
    padding-right: 100% * 55px / 672px;
    padding-bottom: 100% * 150px / 672px;

    background: url(../images/Nexus_5_Front_View.png) no-repeat top left;
    background-size: 100%;
    .carousel-indicators li {
      display: none;
    }
  }
  .carousel-control {
    display: none;
  }
  .top-intro {
    text-align: center;
    margin-top: 60px;
  }
  .row{
    position: relative;
  }
  @media screen and (min-width: $screen-sm-min){
    .intro-wrap {
      margin-top: 15%;
    }
    .intro.left {
      text-align: right;
    }
    .intro.right {
      text-align: left;
    }
  }
}

.mid-block {
  background: #EFEFEF;
  overflow: hidden;
  text-align: center;
  // height: 623px;
  h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    color: #585858;
  }
  .left{
    margin-bottom: 20px;
  }
  .code {
    width: 90px;
    height: 90px;
    float: right;
    margin-left: 15px;
  }
  .big {
    font-size: 2em;
  }
  .small {
    font-size: 15px;
  }
  .link{
    width:280px;
    margin: auto;
  }
  .phone{
    width:300px;
  }
  .right{
    text-align: center;
  }
  @media screen and (min-width: $screen-sm-min){
    text-align: right;
    // height: 500px;
    padding-bottom: 30px;

    .new-line {
      display: none;
    }
    .left{
      padding-top: 60px;
    }
    .right{
      text-align: left;
    }
  }
}

.end-block {
  overflow: hidden;
  text-align: center;
  padding-bottom: 60px;
  .left{
    padding-bottom: 30px;
  }
  .phone {
    margin-top: -260px;
    width:300px;
  }
  .preview{
    text-align: left;
    margin: auto;
    width: 300px;
    .big{
      font-size: 2em;
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    .left{
      text-align: right;
    }
    .right{
      padding-top: 100px;
    }
    .preview{
      margin: initial;
      margin-left: 20px;
    }
  }
}

.tip {
  text-align: left;
}

.download-button,.download-button:visited {
  text-align: left;
  display: inline-block;
  width:135px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  margin-right: 8px;
  color: #fff;
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  transition: color 300ms,background 300ms;
  &:active, &:hover{
    color: #1e1e1e;
    background: #fff;
  }
}
