@import "variable";

.dodge {
  color: #8B8787;
}

.small {
  color: #B9B7B7;
}

.block {
  overflow: hidden;
}

.code {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 20px
}

.img {
  text-align: center;
  .phone {
    margin: auto;
    max-width: 500px;
  }
}

#block1 {
  height: 600px;
  .left {
    margin-top: 190px;
    &:before,&:after{
      content:"";
      display: block;
      clear: both;
    }
  }
  img.phone {
    width: 100%;
    margin-top: 120px;
  }
  @media screen and (max-width:$screen-xs-max){
    height: 720px;
    .left {
      margin-top: 80px
    }
    img.phone{
      margin-top: 20px;
    }
  }
}


#block2 {
  min-height: 850px;
  background-color: #efefef;
  .row {
    position: relative;
  }
  .img {
    img{
      width:100%;
    }
  }
  .download-button{
    display: inline-block;
    width:135px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    color: #fff;
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    transition: color 300ms,background 300ms;
    &:active, &:hover{
      color: #1e1e1e;
      background: #fff;
    }
  }
  #before-Android-intro{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #Android-intro{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @media screen and (min-width:$screen-sm-min){
    #before-Android-intro{
      margin-top: 100px;
    }
    #Android-intro{
      margin-bottom: 200px;
    }
    .img{
      position: absolute;
    }
  }
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    .img{
      margin-top: 80px;
    }
  }
}

#block3{
  text-align: center;
  padding-bottom: 100px;
  .img-wrapper {
    position: relative;
    max-width: 900px;
    min-width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    .mac {
      width:100%;
      margin-top: -20%;
    }
    .window {
      position: absolute;
      top: 2.5%;
      right: 30%;
      width: 18%;
    }
  }
  .button-box{
    .platfrom{
      margin: 0 20px 0;
      display: inline-block;
      font-size: 1.5em;
      width: 100px;
      img{
        width:70px;
        height:82px;
        margin-bottom: 10px;
      }
    }
  }
}
