body {
	padding-top: 0;
}

#nav {
	font-size: 1.2em;
	background-color: rgb(214,214,214);
}

#now {
	background-color: rgb(114,114,114);
	color: white;
}

@media screen and (min-width: 768px) {
	body {
	  background: -webkit-linear-gradient(rgb(230,230,230) 5%, rgb(240,240,240) 10%, rgb(143,202,255) 75%);
	  background: -o-linear-gradient(rgb(230,230,230) 5%, rgb(240,240,240) 10%, rgb(143,202,255) 75%);
	  background: -moz-linear-gradient(rgb(230,230,230) 5%, rgb(240,240,240) 10%, rgb(143,202,255) 75%);
	  background: linear-gradient(rgb(230,230,230) 5%, rgb(240,240,240) 10%, rgb(143,202,255) 75%);
	}

	#nav li {
		height: 45px;
	}
	#logo {
		display: inline-block;
		height: 100%;
	}

	.project {
		height: 200px;
	}

	.image-holder {
		line-height: 200px;
	}
}

@media screen and (max-width: 767px) {
	#nav li{
		display: block;
		float: none;
		text-indent: 0.5em;
	}

	.project {
		margin-left: 5%;
		margin-right: 5%;
	}

	.project-description {
		padding: 10px 0px;
		margin: 0px;
		
		background-color: rgb(114,114,114);
		color: white;
	}

	.show-details, .hide-details {
		color: rgb(135,195,255);
	}

	#return {
		margin: 0px auto;
		width: 150px;

		border-radius: 20px;

		background-color: rgb(125,170,255);
		color: white;
	}
}

.project-img {
	width: 100%;
}

