body {
	padding-top: 0;
}

@media screen and (min-width: 768px) {
	.image-holder {
		line-height: 200px;
	}
}

@media screen and (max-width: 767px) {
	.project {
		margin-left: 5%;
		margin-right: 5%;
	}

	.project-description {
		padding: 10px 0px;
		margin: 0px;
		
		background-color: rgb(114,114,114);
		color: white;
	}

	.show-details,
	.hide-details {
		color: rgb(135,195,255);
	}

	#return {
		margin: 0px auto;
		width: 150px;

		border-radius: 20px;

		background-color: rgb(125,170,255);
		color: white;
	}
}

.project-img {
	width: 95%;
}

