body {
  padding-top: 0;
}

#projects-lead {
  text-align: left;
}

#projects-text{
  margin-left: 10px;
  margin-right: 10px;}

@media screen and (min-width: 768px) {
  .image-holder {
	line-height: 200px;
  }
  
  #project-heading{
    padding: 50px 0;
	margin-bottom: 20px;
  }
  
  #projects-lead {
    font-size: 3.3em !important;
  }
  
  span {
    text-align: left
  }
}

@media screen and (max-width: 767px) {
  .project {
	margin-left: 5%;
	margin-right: 5%;
  }

  .project-description {
	padding: 10px 0px;
	margin: 0px;
		
	background-color: rgb(114,114,114);
	color: white;
  }

  .show-details,
  .hide-details {
	color: rgb(135,195,255);
  }

  #return {
	margin: 0px auto;
	width: 150px;

	border-radius: 20px;

	background-color: rgb(125,170,255);
	color: white;
  }
  
  #project-heading{
    padding: 30px 0;
	margin-bottom: 20px;
  }
  
  #projects-lead {
    font-size: 2.3em !important;
	margin-bottom: 0;
  }
}

.project-img {
  width: 95%;
}

