body,  div,  p {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

ul {
	list-style: none;
}

html {
	overflow: hidden;
}

body {
	width: 100%;
	cursor: default;
	overflow: hidden;
	font: 14px "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}

/*img {
	height: 1080px;
	width: 1920px;
	-webkit-filter:blur(5px);
	z-index: -10000;
}*/

#pageContain {
	overflow: hidden;
}

.page {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
}

.current .contain, .slide .contain {
	display: block;
}

.current {
	display: block;
	z-index: 1;
}

.slide {
	display: block;
	z-index: 2;
}

.swipe {
	display: block;
	z-index: 3;
	transition-duration: 0ms !important;
	-webkit-transition-duration: 0ms !important;
}

.page1 {
	background: #992211;
}

.page2 {
	background: #009922;
}

.page3 {
	background: #992211;
}

.page4 {
	background: #ff00ff;
}

.page5 {
	background: #d0dae9;
}

.page6 {
	background: #cccccc;
}

#navBar {
	z-index: 3;
	position: absolute;
	top: 40%;
	right: 3%;
}

#navBar .active {
	background: #ccc;
}

#navBar li {
	cursor: pointer;
	margin-bottom: 10px;
	transition: all .7s ease;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	width: 10px;
	height: 10px;
	background: #000000;
}

.txt {
	margin-top: 20%;
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.navbar {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 0%;
}

.indexlink {
	font-size: 36px;
}

.github {
	padding-top: 0;
	padding-left: 70%;
}

.intro {
	position: absolute;
	left: 18%;
	top: 35%;
	width: 300px;
	height: 100px;
}

.tunetpng {
	position: absolute;
	top: 25%;
	left: 35%;
	width: 600px;
	height: 450px;
}

.png1 {
	width: 100%;
	height: 100%;
}

.tunetsvg {
	position: absolute;
	top: 35%;
	left: 70%;
	width: 200px;
	height: 200px;
}

.svg1 {
	width: 100%;
	height: 100%;
}