@import url(reset.css);

body {
	font-family: Arial;
	font-size: 12px;
	height: 100%;
}

h1 {
	font-family: 'Signika', sans-serif;
	font-size: 30px;
}

	h1 span {
		font-size: 48px;
	}
	
a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

input {
	display:inline-block;
	*display:inline;
	vertical-align: middle;
	zoom:1;
	margin:0;
	border: 0;
	outline: 0;
}

textarea {
	border: 0;
	outline: 0;
	resize: none;
	overflow: auto;
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align: left;
}

#wrapper {
	float:left;
	min-width:100%;
}

	#wrapper .norm {
		font-weight: normal;
	}
	
	#wrapper .marginless {
		margin: 0;
	}

	#wrapper .paddingless {
		padding: 0;
	}

#wrap {
	margin: 0 auto;
	width: 980px;
	position: relative;
	min-height: 100%;
	overflow-x: visible;
	overflow-y: hidden;
	position: relative;
	*padding-bottom: 87px;
}

#header {
	height: 60px;
	padding-top: 40px;
}

#main-menu {
	width: 550px;
	line-height: 26px;
}

	#main-menu li {
		float: left;
		position: relative;
	}
		
		#main-menu li ul {
			visibility: hidden;
			position: absolute;
			width: 163px;
			z-index: 9999;
		}
		
		#main-menu li:hover > ul  {
			visibility: visible;
		}
		
			#main-menu ul li li, #main-menu li.sub-sub li {
				display: block;
				width: 131px;
				height: 25px;
				padding: 0 15px;			
			}
		
				#main-menu > ul > li > ul > li:first-child {
					padding-top: 7px;
				}
		
		#main-menu li.sub-sub li:first-child, #main-menu ul li li.last {
			width: 133px;
		}
		
				#main-menu ul li li a {
					display: block;
					height: 24px;
				}
		
		#main-menu > ul > li.last {
			margin-right: 0;
		}
	
			#main-menu > ul > li.last a {
				padding-right: 0;
			}
	
			#main-menu > ul > li > a {
				display: block;
				padding: 0 15px;
				font-weight: bold;
			}
	
			#main-menu ul ul li.sub-sub {
				width: 166px;
			}
			
		#main-menu li.sub ul {
			font-size: 11px;
		}
	
		#main-menu li.sub-sub ul {
			margin-left: 3px;
			left: 162px;
			top: 0;
		}
		
			#main-menu li.sub-sub:first-child ul {
				top: 7px;
			}

#top {
	width: 410px;
	line-height: 24px;
}

	#top ul {
		width: 116px;
	}

	#top li {
		float: left;
	}

		#top li a {
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 5px;
			text-indent: -9999px;
		}
	
	#top .selectWrapper {
		height: 25px;
		line-height: 25px;
		width: 66px;
		font-size: 11px;
		font-weight: bold;
	}

		#top .selectWrapper span.select {
			padding-left: 12px;		
		}
		
		#top .selectWrapper select {
			font-size: 11px;
			font-weight: bold;
			text-indent: 8px;	
		}
		
#donation {
	display: inline-block;
	height: 26px;
	padding-right: 49px;
	text-transform: uppercase;
	font-weight: bold;
}
	#donation span {
		display: block;
		padding: 4px 18px 5px 18px;
		line-height: 17px;
	}

#container {
	float: left;
	margin-bottom: 87px;
}

#logo {
	display: block;
	margin: 30px 0 30px;
}

	#logo h2 {
		font-size: 14px;
		font-weight: bold;
		width: 100%;
		margin-top: 10px;
		position: relative;
	}

#profile {
	width: 413px;
}
	
	#profile article {
		width: 184px;
	}

#promotion {
	width: 205px;
}

#content {
	width: 535px;
	margin-top: 7px;
	padding: 25px 0 0 30px;
}

#accordion {
	clear: both;
}

	#accordion h3 {
		cursor: pointer;
		padding: 15px;
		font-weight: bold;
		line-height: 18px;
	}

	#accordion h3.current {
		font-size: 24px;
		padding: 15px 0 0 0;
		font-weight: normal;
		line-height: 25px;
	}

	#accordion h3.current:first-child {
		padding-top: 5px;
		border: 0;
	}

#footer {
	position: absolute;
	bottom: 0;
	width: 163px;
	height: 34px;
	padding: 15px 20px;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
}

#footer.second {
	left: 213px;
}

#footer.third {
	left: 445px;
}

#footer.fourth {
	left: 726px;
}

#calendar {
	width: 100%;
	clear: both;
	float: left;
	margin: 25px 0 15px;
}

	#calendar th {
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		font-weight: bold;
	}
	
		#calendar tbody tr {
			height: 70px;
		}
	
	#calendar td {
		padding: 10px;
		vertical-align: bottom;
		cursor: pointer;
	}
	
#contact-form {
	width: 245px;
	padding-top: 40px;
}

#contact-form input[type=text] {
	width: 203px;
	height: 27px;
	line-height: 27px;
	padding: 0 30px 0 12px;
	font-size: 11px;
	margin-bottom: 13px;
}

#contact-form textarea {
	width: 221px;
	height: 269px;
	padding: 9px 12px 31px 12px;
	font-family: Arial;
	font-size: 11px;
	line-height: 30px;
}

.opera #contact-form textarea {
	height: 270px;
	padding: 16px 12px 24px 12px;
}

#contact-form button {
	margin-top: 25px;
	width: auto;
}

/*UTILITY*/

.left {
	float: left;
}

.right {
	float: right;
}

.clearboth {
	clear: both;
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}

.selectWrapper {
	display: block;
	text-align:left;
}

.selectWrapper span.select {
		display:block;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;	
	}
	
.selectWrapper select {
		display:block;
		cursor: pointer;
		width: 100%;
		height:100%;
		top: -100%;
		overflow:hidden;
	}
	
/*CLASSES*/

	.gecko #content.cal {
		width: 529px;
	}

.icon-leaf {
	display: block;
	width: 21px;
	height: 18px;
	position: absolute;
	right: 35px;
	top: 0;
}

	.box h2 {
		margin: 28px 0 25px;
		font-size: 20px;
		font-weight: bold;
	}
	
	.box h2:first-child {
		margin: 35px 0 25px;
	}
	
	.box p, .cv p, .subpage p, .contact p {
		font-size: 11px;
		text-align: justify;
		line-height: 18px;
		margin-bottom: 20px;
	}
	
.more {
	display: inline-block;
	width: 30px;
	height: 25px;
	text-indent: -9999px;
}

	.tweets li {
		display: block;
		width: 184px;
		margin-bottom: 20px;
		padding-top: 7px;
		font-family: Georgia;
		font-style: italic;
		font-size: 11px;
		line-height: 16px;
	}
	
	.tweets a:hover, .e-mail:hover, .url:hover, .email:hover, .title a:hover {
		text-decoration: underline;
	}

	.tweets div {
		height: 15px;
	}

	.tweets div:first-child {
		height: auto;
		padding: 10px;
		background: 0;
	}

	.tweets span {
		display: block;
		margin-top: 15px;
		padding-left: 20px;
	}

.photo {
	float: right;
	width: 195px;
	height: 195px;
	position: relative;
	margin-bottom: 30px;
}

	.photo img:first-child {
		position: absolute;
		left: -5px;
		top: -4px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	.photo .signature {
		position: absolute;
		right: 18px;
		bottom: 19px;
	}

.party {
	float: right;
	width: 201px;
}

	.party h2 {
		font-size: 22px;
		padding: 40px 0 7px 20px;
	}

	.party a {
		display: block;
		width: 203px;
		line-height: 42px;
		text-indent: 18px;
		font-size: 18px;
		position: relative;
	}

	.party span {
		position: absolute;
		right: 12px;
		bottom: 8px;
	}
	
	.quote blockquote {
		width: 420px;
		font-family: 'Radley', serif;
		font-style: italic;
		font-size: 24px;
		line-height: 30px;
		padding-bottom: 36px;
		margin-bottom: 31px;
	}
	
.further, .back {
	display: inline-block;
	float: left;
	vertical-align: middle;
	width: 46px;
	height: 26px;
	text-indent: -9999px;
}

.back + .further {
	margin: 0 8px 0 3px;
}

.top-border {
	overflow-x: visible;
	overflow-y: hidden;
}

.news {
	width: 203px;
	padding-right: 73px;
}

.my-blog {
	width: 229px;
	padding-right: 30px;
}

.backward, .forward {
	float: left;
	width: 44px;
	height: 24px;
	text-indent: -9999px;
	margin-right: 6px;
	cursor: pointer;
}

.backward {
	margin-bottom: 25px;
}

.pane {
	margin-top: 15px;
	padding-bottom: 40px;
}

	.pane span {
		display: block;
		margin-bottom: 25px;
		font-size: 10px;
	}

.title {
	clear: both;
}

	.title time {
		display: block;
		float: left;
		width: 52px;
		height: 56px;
		padding-top: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.title span {
		display: block;
		font-size: 28px;
	}

	.title h3 {
		float: right;
		width: 165px;
		padding-top: 7px;
		line-height: 17px;
		font-weight: bold;
	}

.button {
	clear: both;
	display: inline-block;
	height: 26px;
	padding-right: 13px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.gecko .button {
	padding-right: 10px;
	font-size: 9px;
}

	.button span {
		display: block;
		padding: 4px 0 5px 12px;
		line-height: 17px;
	}

	.cv p, .pane p, .subpage p, .contact p {
		text-align: left;
	}

	.cv h2, .gallery h2, .subpage > h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 35px;
	}
	
	.cv h3 {
		font-size: 16px;
		font-weight: bold;
		padding: 20px 0 15px;
	}
	
	.cv > ul {
		padding: 30px 0 10px;
	}
	
	.cv > ul > li {
		float: left;
		margin-bottom: 17px;
	}
	
	.cv > ul > li.last {
		margin-bottom: 5px;
	}
	
	.cv ul ul li, .subpage ul li {
		padding-left: 14px;
		margin-bottom: 15px;
	}
	
	.cv ul ul li.last, .subpage ul li.last {
		margin: 0;
	}
	
	.cv .years {
		float: left;
		width: 91px;
		height: 29px;
		line-height: 29px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
	
	.cv .desc, .cv ul ul, .subpage ul , .subpage ol {
		float: left;
		width: 424px;
		padding: 8px 5px 0 15px;
		font-size: 11px;
	}
	
	.cv .desc {
		line-height: 16px;
		padding: 5px 5px 0 15px;
	}
	
	.cv .lang, .cv .skills {
		padding-top: 0;
	}
	
	.cv .lang + p {
		padding: 25px 0 15px;
	}	
	
	.cv .skills + p {
		padding: 25px 100px 0 0;
	}
	
	.photo-gallery {
		margin: 0 auto;
		width: 490px;
		padding-top: 15px;
	}
	
	.photo-gallery li {
		float: left;
		width: 135px;
		height: 135px;
		margin: 0 35px 35px 0;
	}
	
	.photo-gallery img {
		width: 135px;
		height: 135px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
.gallery-nav {
	clear: both;
	width: 100%;
	text-align: center;
	line-height: 16px;
}

	.gallery-nav ul, .gallery-nav li {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	
	.gallery-nav li {
		margin-right: 4px;
	}
	
	.gallery-nav li a {
		display: inline-block;
		*display: inline;
		zoom: 1;
		width: 16px;
		height: 17px;
		font-size: 10px;
		font-weight: bold;
		padding-left: 1px;
	}

.button-prev, .button-next {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 34px;
	height: 19px;
	margin-right: 12px;
}

.button-next {
	margin: 0 0 0 9px;
}

	.subpage small {
		clear: both;
		font-size: 10px;
		font-weight: bold;
		margin-left: 15px;
	}		

	.subpage h3, .subpage h4 {
		clear: both;
		padding: 15px 0 25px;
		font-size: 16px;
		font-weight: bold;
	}

	.subpage h4, .vcard h3 {
		padding: 5px 0 25px;
		font-size: 14px;
	}

	.subpage ul, .subpage ol {
		padding: 3px 5px 22px 10px;
	}

	.subpage ol {
		margin-left: 15px;
	}

		.subpage ol li {
			margin-bottom: 15px;
		}
		
	.subpage blockquote {
		clear: both;
		float: left;
		padding: 30px 38px;
		margin-bottom: 30px;
		width: 459px;
	}

		.subpage blockquote p {
			margin: 0;
			font-family: 'Radley', serif;
			font-style: italic;
			font-size: 24px;	
			line-height: 30px;
			text-align: center;
		}
	
	.subpage img {
		width: 115px;
		height: 115px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	.subpage .sub-table {
		width: 100%;
		clear: both;
		float: left;
		margin: 20px 0;
	}
	
	.subpage .sub-table th {
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		font-weight: bold;
	}
	
	.subpage .sub-table tr {
		height: 30px;
	}
	
	.subpage .sub-table td {
		width: 33%;
		line-height: 30px;
		font-size: 11px;
		text-align: center;
	}

	.subpage .top-border {
		padding-top: 35px;
	}
	
		.subpage .title h2 {
			padding: 10px 15px 5px 15px;
			font-size: 20px;
			font-weight: bold;
		}
	
		.subpage .title div {
			float: left;
		}
		
	.subpage .selectWrapper {
		display: inline-block;
		float: right;
		height: 25px;
		line-height: 25px;
		width: 119px;
		font-size: 11px;
	}

		.subpage .selectWrapper span.select {
			padding-left: 12px;		
		}
		
		.subpage .selectWrapper select {
			font-size: 11px;
			text-indent: 8px;	
		}

.half {
	float: left;
	width: 235px;
	padding-right: 32px;
}

.one-third {
	float: left;
	width: 146px;
	padding-right: 32px;
}	
	
.photo-desc {
	padding-left: 20px;
	width: 390px;
}
	
	.photo-desc h4 {
		padding: 8px 0 20px;
	}
	
.month {
	float: left;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}

	.contact h2 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.contact p {
		margin-bottom: 15px;
	}

		.contact .vcard p {
			line-height: 17px;
			margin: 0;
		}
		
	.contact .clearboth {
		display: block;
		font-size: 11px;
		padding: 3px 0 0;
	}

.e-mail {
	display: block;
	margin-bottom: 34px;
	font-size: 11px;
}

.vcard {
	width: 155px;
	padding: 40px 105px 0 0 ;
}

	.vcard h3 {
		font-weight: bold;
	}

.adr {
	padding-bottom: 20px;
}

.big-number {
	clear: both;
	float: left;
	margin: 25px 0;
	font-size: 20px;
	font-weight: bold;
}

.url, .email {
	font-size: 11px;
	line-height: 17px;
}