body {
  font-family: "Roboto", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

header {
  background-image: url("../images/desktop-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#logo-wrapper {
  width: 200px;
  height: 200px;
  margin: 100px auto 30px auto;
  border-radius: 20px;
  background: rgb(111, 182, 252);
}

#logo-wrapper img {
  height: 80%;
  width: 80%;
  margin: 10%;
}

#intro {
  margin-bottom: 60px;
}

#screenshot {
  display: block;
  max-width: 80%;
  margin-top: 80px;
  margin-bottom: 100px;
}

#downloads a {
  display: block;
}

#downloads img {
  width: 50px;
  height: 50px;
}
