body,  div,  p {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

ul {
	list-style: none;
}

html {
	overflow: hidden;
}

body {
	width: 100%;
	cursor: default;
	overflow: hidden;
	font: 14px "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
}

#pageContain {
	overflow: hidden;
}

.page {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.contain {
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	z-index: 0;
}

.current .contain, .slide .contain {
	display: block;
}

.current {
	display: block;
	z-index: 1;
}

.slide {
	display: block;
	z-index: 2;
}

.swipe {
	display: block;
	z-index: 3;
	transition-duration: 0ms !important;
	-webkit-transition-duration: 0ms !important;
}

.page1 {
  background: #31b0d5;
}

#navBar {
	z-index: 3;
	position: absolute;
	top: 40%;
	right: 3%;
}

#navBar .active {
	background: #ccc;
}

#navBar li {
	cursor: pointer;
	margin-bottom: 10px;
	transition: all .7s ease;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	width: 10px;
	height: 10px;
  border-color: white;
	background: rgba(255,255,255,.3);
}

.ttitle {
  margin-top: 150px;
  font-size: 36px;
  text-align: center;
}

.tdesc {
  font-size: 12px;
  text-align: center;
}

.dlbtn {
  margin-top: 20px;
  text-align: center;
}

.btn-primary {
  margin: 10px;
  padding: 15px;
  height: 50px;
  width: 150px;
  border-color: #ffffff;
  border-width: 2px;
  background: rgba(0, 0, 0, 0);
}

.btn-primary:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: #31b0d5;
}

.divpic {
  text-align: center;
}

.tunetpic {
  margin-top: 50px;
}

.tunetpic:hover {
  margin-top: -100px;
}

.ios {
  z-index: 10;
}

.android {
  z-index: -10;
  margin-left: -120px;
}

.navbar {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 0;
}

.indexlink {
	font-size: 36px;
}

.github {
	padding-top: 0;
	padding-left: 70%;
}

.intro {
	position: absolute;
	left: 18%;
	top: 35%;
	width: 300px;
	height: 100px;
}

.tunetpng {
	position: absolute;
	top: 25%;
	left: 35%;
	width: 600px;
	height: 450px;
}

.png1 {
	width: 100%;
	height: 100%;
}

.tunetsvg {
	position: absolute;
	top: 35%;
	left: 70%;
	width: 200px;
	height: 200px;
}

.svg1 {
	width: 100%;
	height: 100%;
}

.bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  z-index: -100;
}
