body {
	background: url(../img/bg_body.gif) #222938 repeat-x left top;
}

h1, h2, .title span, .cv h3, .subpage h3, .subpage h4, .gallery-nav a, .subpage blockquote p, .month, .vcard h3 {
	color: #fff;
}

.box p, .cv h2 + p, .tweets li, #footer span, .subpage ol, .subpage > h2 + p, .subpage ul li, #contact-form input[type=text], #msg {
	color: #cfcfcf;
}

.pane span, .title, .cv .desc, .cv p, .subpage p, .subpage ol span, .cv ul ul li, .contact p, .url, .email, .contact .clearboth{
	color: #70828e;
}

#logo h2, .big-number, .title a:hover, #main-menu li.current > a, #main-menu a:hover {
	color: #f57f1f;
}

.e-mail {
	color: #7eadbd;
}

#main-menu a, .tweets a, .title a {
	color: #a1dff0;
}

#wrapper {
	background: url(../img/bg_header.png) no-repeat center top;
}

.git {
	background: url(../img/1-github.png) no-repeat left top;
}

#top .selectWrapper {
	background: url(../img/bg_language.png) no-repeat left top;
	color: #f8f8f8;
}

#top .selectWrapper select, .subpage .selectWrapper select {
	color: #f8f8f8;
	background:#191e2a;
}

#donation {
	background: url(../img/button_donationend.png) no-repeat right top;
	color: #f8f8f8;
}

#donation span {
	background: url(../img/button_donation.png) no-repeat left top;
}

.icon-leaf {
	background: url(../img/icon_leaf.png) no-repeat left top;
}

.top-border {
	background: url(../img/border_logo.png) repeat-x left top;
}
	
.more {
	background: url(../img/icon_arrow.png) no-repeat 5px 5px;
}

.tweets li.new {
	background: url(../img/bg_topnewtweet.png) #1f2532 no-repeat left top;
}

.tweets li {
	background: url(../img/bg_toptweet.png) #1f2532 no-repeat left top;
}

.tweets .new span {
	background: url(../img/icon_newtweet.png) no-repeat left 2px;
}

.tweets span {
	background: url(../img/icon_tweet.png) no-repeat left 2px;
}

.tweets .new div:first-child {
	border-left: 2px solid #6eb9cf;
	border-right: 4px solid #6eb9cf;
	height: auto;
	background: 0;
}

.tweets div:first-child {
	border-left: 1px solid #485a6c;
	border-right: 3px solid #485a6c;
	height: auto;
	background: 0;
}

.tweets .new div {
	background: url(../img/bg_bottomnewtweet.png) no-repeat left bottom;
}

.tweets div {
	background: url(../img/bg_bottomtweet.png) no-repeat left bottom;
}

.photo {
	background: url(../img/border_photo.png) no-repeat left top;
}

.party {
	background: url(../img/bg_party.png) no-repeat left top;
}

.party.altcolor {
	background: url(../img/bg_party2.png) no-repeat left top;
}

.party a {
	background: url(../img/bg_bottomparty.png) no-repeat left top;
	color: #c85b13;
}

.party.altcolor a {
	background: url(../img/bg_bottomparty2.png) no-repeat left top;
	color: #2189a5;
}

.further {
	background: url(../img/button_further.png) no-repeat left top;
}

.quote {
	background: url(../img/bg_quote.png) no-repeat left top;
}

#footer {
	background: url(../img/border_footer.png) no-repeat left top;
	color: #70828e;
}

.quote blockquote {
	background: url(../img/bg_stars.png) no-repeat left bottom;
	color: #fff;
}

.backward {
	background: url(../img/button_backward.png) no-repeat left top;
}

.backward:hover {
	background: url(../img/button_backwardactv.png) no-repeat left top;
}

.forward {
	background: url(../img/button_forward.png) no-repeat left top;
}

.forward:hover {
	background: url(../img/button_forwardactv.png) no-repeat left top;
}

#accordion h3 {
	color: #a1dff0;
	background: url(../img/bg_dot.png) no-repeat 2px 20px;
	border-top: 1px solid #344959;
}

#accordion h3.current {
	background: 0;
}

.my-blog {
	background: url(../img/bg_blog.png) no-repeat 81px 6px;
}

time {
	background: url(../img/bg_cloud.png) no-repeat left top;
}

.button {
	background: url(../img/button_end.png) no-repeat right top;
	color: #fff;
}

.gecko .button {
	background: url(../img/button_end.png) no-repeat right 1px;
}

.button span {
	background: url(../img/button.png) no-repeat left top;
}

.cv .years {
	background: url(../img/bg_cv.png) no-repeat left top;
	color: #fff;
}

.cv ul ul li, .subpage ul li {
	background: url(../img/bg_bullet.png) no-repeat left 2px;
}

.gallery img {
	border: 1px solid #1a212e;
}

.button-prev {
	background: url(../img/button_prev.png) no-repeat left top;
}

.button-next {
	background: url(../img/button_next.png) no-repeat left top;
}

.gallery-nav li {
	background: url(../img/bg_number.png) no-repeat left top;
}

.gallery-nav li.current, .gallery-nav li:hover {
	background: url(../img/bg_currentnumber.png) no-repeat left top;
}

.subpage blockquote {
	border-top: 1px solid #364c5c;
	border-bottom: 1px solid #364c5c;
	background: url(../img/bg_blockquote.png) no-repeat 8px top;
}

.subpage table {
	border: 1px solid #314655;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-collapse: separate;
}

.subpage th {
	border-bottom: 1px solid #314655;
	color: #fff;
}

			#content table tr.borderless td {
				border-bottom: 0;
			}

.subpage .sub-table td {
	border-right: 1px solid #314655;
	border-bottom: 1px solid #314655;
	color: #61707d;
}

#content td.last-td, #content th.last-th {
	border-right: 0;
}
	
.sub-table .td-bg {
	background: #222834;
}

.back {
	background: url(../img/button_back.png) no-repeat left top;
}

.subpage .selectWrapper {
	background: url(../img/bg_month.png) no-repeat left top;
	color: #f8f8f8;
}

#calendar {
	background: #232a39;
}

#calendar th {
	border-right: 1px solid #314655;
}

#calendar td {
	border-right: 1px solid #314655;
	border-bottom: 1px solid #314655;
	color: #f0f1f2;
}

#calendar td:hover {
	background: #6eb9cf;
}

#calendar .chosen {
	background: #1e2330;
}

#calendar .borderless td:first-child {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#calendar .borderless td.last-td {
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#name {
	background: url(../img/bg_name.png) no-repeat left top;
}

#email {
	background: url(../img/bg_email.png) no-repeat left top;
}

#msg {
	background: url(../img/bg_msg.png) no-repeat left top;
}
		
#main-menu li li.last, #main-menu li li.sub-sub.last{
	background: url(../img/bg_bottomsubmenu.png) no-repeat left bottom;
	border: 0;
}

#main-menu li li.sub-sub {
	background: url(../img/bg_subsub.png) no-repeat left bottom;
}

#main-menu li li.last > a, #main-menu ul li.sub-sub, #main-menu ul li.sub-sub > a {
	border: 0;
}

#main-menu li li {
	border-left: 1px solid #314554;
	border-right: 1px solid #314554;
	background: #1e3547;
}

#main-menu li li a {
	border-bottom: 1px solid #314554;
}

#main-menu li li.sub-sub:hover > a {
	background: url(../img/icon_arrow2.png) no-repeat 122px 9px;
}

#main-menu li.sub-sub li:first-child {
	background: url(../img/bg_topsubmenu.png) no-repeat left top;
	border: 0;
}

#main-menu li.sub:hover > a {
	background: url(../img/border_submenu.gif) no-repeat left top;
}