{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/about.css -->
<link rel="stylesheet" href="styles/about.css">
<!-- endbuild -->
{% endblock %}
{% block content %}
<div class="jumbotron" id="header">
    {% include 'navbar.html' %}
</div>
<div class="ex-rg" id="ex">
    <div class="inner-ex-rg">
        <p>我们用工匠与画家的眼光</p>
        <p>来重新设计和塑造身边的日常</p>
        <p>简化校园生活</p>
    </div>
</div>
<div class="info-rg">
    <h1>ABOUT US</h1>
    <div class="inner-info-rg">
        <div class="desc-info-rg">
            <p>Lab μ是清华大学内部具有极客精神的同学们组成的科创团体，汇集了校园顶尖的工程师、设计师和创造力行动力max的同学。我们用工匠与画家的眼光来重新设计和塑造身边的日常，并通过协力开发全新的互联网、移动和桌面应用来简化校园生活。</p>
            <p class="note-block">
                    多个深受师生欢迎的应用已在发布或开发中，如TUNet校园网自动联网助手、Tsinghua Now即刻清华应用、CaμsKit校园活动套件等，更多有趣实用的想法正被一步步实现！<br>
                    我们通过多种平台大型项目的设计、开发、宣传、运营等活动，为团队成员提供了有效的交流和学习机会。
            </p>
        </div>
        <div class="name-info-rg">
            Lab μ<br>
            清华大学学生校园极客社
        </div>
    </div>
</div>
<div class="col-rg">
    <div class="inner-col-rg">

    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
{% block scripts %}
<script src="scripts/about.js"></script>
{% endblock %}

