.logo{
	background-color: green;
	text-align: center;
}

.info {
	background-color: blue;
	text-align: center;
}

.join {
	background-color: red;
	text-align: center;
}

.blog {
	background-color: yellow;
	text-align: center;
}

.member {
	background-color: white;
	text-align: center;
}