{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/index.css -->
<link rel="stylesheet" href="styles/index.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div class="jumbotron" id="header">
  {% include 'navbar.html' %}
  <div id="logo-holder" class="center-block">
    <img src="images/LabmU_Meow.svg" alt="logo" id="logo-img">
  </div>
  <h1 class="text-white center-block text-center">清华大学 <br class="visible-xs"> Lab μ 校园极客社</h1>
  <a href="https://jinshuju.net/f/aWTf5c" target="_blank" class="btn-lg center-block blog-btn">Join Us</a>
</div>

<div class="container">
  <div class="row border">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 introduction-header">
      <h1 class="introduction-header-title text-center">
        创造实用有趣的产品<br>
        简化校园学习生活
      </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
      <div id="icon1" class="icon text-center">
        <i class="fa fa-info-circle"></i>
      </div>
      <h2 class="text-center">简介</h2>

      <p>
        Lab μ 是清华大学学生科创社团，致力于以各种应用来提高校园生活的便利性。协会通过项目的设计、开发、宣传、运营，锻炼社员的综合能力。
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
      <div id="icon2" class="icon text-center">
        <i class="fa fa-laptop"></i>
      </div>
      <h2 class="text-center">产品</h2>

      <p>
        我们的作品在全校范围内被广泛地使用。TUNet校园自动联网助手现有Android和iOS版本，在校内共有11000+的用户数量。桌面版也正在开发当中。
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
      <div id="icon3" class="icon text-center">
        <i class="fa fa-users"></i>
      </div>
      <h2 class="text-center">成员</h2>
      <p>
        协会的成员来自不同的背景，各个专业的同学一起合作，涵盖了项目开发过程中的方方面面。我们同样欢迎拥有创意与热情的你，来与我们一起实现各种更多的可能。
      </p>
    </div>
  </div>
</div>

<div id="projects">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 introduction-header">
      <h1 class="introduction-header-title text-center text-white">
        我们创造<br>
        校园中千万人使用的应用
      </h1>
    </div>
    <div class="row text-white">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
        <a href="products-tunet.html" target="_blank">
          <div class="img-holder center-block text-center musvg">
            <span class="vertical-helper"></span><img src="images/mu-white.svg" alt="TUNet" class="project-image img-responsible"/>
          </div>
        </a>
        <article class="project-text">
          <h2 class="text-center"><wbr>TUNet<wbr><nobr>自动联网助手</nobr></h2>

          <p>最智能好用的清华校园网助手客户端。能够自动联网，智能下线过期连接，管理当前在线设备，并处理了多种复杂情况下的网络环境优化。</p>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
        <a href="products-now.html" target="_blank">
          <div class="img-holder center-block text-center etasvg">
            <span class="vertical-helper"></span><img src="images/eta.svg" alt="now" class="project-image img-responsible"/>
          </div>
        </a>
        <article class="project-text">
          <h2 class="text-center"><wbr>Tsinghua Now<wbr><nobr>即刻清华</nobr></h2>

          <p>希望将校内各处分散的有用信息（课程公告作业，上课信息，讲座活动信息）集中整合在一起，并在最合适的时间向你展示最合适的信息。即将推出。</p>
        </article>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 introduction">
        <div class="img-holder center-block text-center camussvg">
          <span class="vertical-helper"></span><img src="images/camus-white.svg" alt="camus"
                                                    class="project-image img-responsible"/>
        </div>
        <article class="project-text">
          <h2 class="text-center"><wbr>Caμs<wbr><nobr>应用开放平台</nobr></h2>

          <p>力图为校内开发者打造一个统一的API接口来便捷的访问各种校内数据，助力全校有创意的开发者打造更多有意思的应用，并完善整个应用生态。</p>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="invitation" class="row border text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>
        Lab μ 是一个成长中的团队，我们诚挚欢迎你的加入
      </p>
      <br>
      <a href="https://jinshuju.net/f/aWTf5c" target="_blank" class="btn btn-default" id="joinus">Join Us</a>
    </div>
  </div>

  <div id="contact" class="row border text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <p>关注我们</p>
      </div>
      <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img id="qrcode" src="images/wechat.png">
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}

{% block scripts %}
<!-- build:js scripts/index.js -->
<script src="scripts/index.js"></script>
<!-- endbuild -->
{% endblock %}
