{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/index.css -->
<link rel="stylesheet" href="styles/index.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div id="header">
  {% include 'navbar.html' %}
</div>

<div class="slides swiper-container" id="slide" style="z-index: 0"> <!-- z-index for fixing swiper hiding header -->
  <div class="swiper-wrapper">
    <div class="swiper-slide slide1">
      <div id="pic1-1" class="pic-left">
        <img src="images/home/1-1.png">
      </div>
      <div id="mid1" class="mid">
        <div id="text1-1" class="text-main">All information, one place.</div>
        <div id="text1-2" class="text-link"><a href="about.html"> LEARN MORE </a></div>
      </div>
      <div id="pic1-3" class="pic-mid">
        <img src="images/home/ipad_1.png">
      </div>
      <div id="pic1-2" class="pic-right">
        <img src="images/home/1-2.png">
      </div>
    </div>

    <div class="swiper-slide slide2">
      <div id="pic2-1" class="pic-left">
        <img src="images/home/2-1.png">
      </div>
      <div id="mid2" class="mid">
        <div id="text2-1" class="text-main">Hack, tinker and paint the world.</div>
        <div id="text2-2" class="text-link"><a href="about.html"> LEARN MORE </a></div>
      </div>
      <div id="pic2-3" class="pic-mid">
        <img src="images/home/ipad_2.png">
      </div>
      <div id="pic2-2" class="pic-right">
        <img src="images/home/2-2.png">
      </div>
    </div>

    <div class="swiper-slide slide3">
      <div id="pic3-1" class="pic-left">
        <img src="images/home/3-1.png">
      </div>
      <div id="mid3" class="mid">
        <div id="text3-1" class="text-main">Simplify our campus life</div>
        <div id="text3-2" class="text-link"><a href="about.html"> LEARN MORE </a></div>
      </div>
      <div id="pic3-3" class="pic-mid">
        <img src="images/home/ipad_3.png">
      </div>
      <div id="pic3-2" class="pic-right">
        <img src="images/home/3-2.png">
      </div>
    </div>
  </div>
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>


<div id="footer">
  CONTACT US
  <a href="https://github.com/mulab/" target="_blank" class="blog-btn">Github</a>
  |
  <a href="mailto:mulab.thu@gmail.com" target="_blank" class="blog-btn">Email</a>
</div>

{% endblock %}

{% block scripts %}
<!-- build:js scripts/index.js -->
<script src="scripts/index.js"></script>
<!-- endbuild -->
{% endblock %}
