{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/products-tunet.css -->
<link rel="stylesheet" href="styles/products-tunet.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div class="jumbotron" id="header">
  {% include 'navbar.html' %}
</div>

<div id="block1">
  <div class="container">
    <div>
      <h2 id="test">TUNet<br>清华大学校园自动联网助手</h2>
      <p class="dodge">
        最智能好用的清华校园网助手客户端。可自动联网，智能下线过期连接，管理当前线设备，并处理了多种复杂情况下的网络环境优化。
      </p>

      <div>
        <img src="images/products/tunet/tunet-latest.png" class="code">

        <p class="small">
          iOS版现已上线，点此可下载或扫描二维码<br>
         （类似的话，可以写多）
        </p>
        <a><img src="images/products/tunet/App_Store_Badge.svg" id="App-Store"></a>
      </div>
    </div>
    <img src="images/products/tunet/TUNet_iOS.png" class="phone">
  </div>
</div>

<div id="block2">
  <div class="container">
    <div id="before-Android-intro">
      <p>我们为您省力省事省心<br>类似的装逼话</p>
      <a class="download-button">下载Android版&gt&gt</a>
      <p class="small">Android版已上线，点此下载或扫描二维码<br>安卓也来装个逼两行~</p>
      <img src="images/products/tunet/tunet-latest.png" class="code">
    </div>
    <img src="images/products/tunet/TUNet_Android.png" class="phone">
    <div id="Android-intro">
      <h4>独一无二的自动服务</h4>
      <p class="dodge">
        打开自动服务后，程序将帮您：自动登录认证，拿出手机就能上网；只开过期的连接，防止蹭流量；显示通知栏图标随时提示网络状态；特殊下登录失败，会自动延时重试。
      </p>
      <h4>直观的连接管理</h4>
      <p class="dodge">
        您可以为自己的电脑、手机、平板和无线路由器等设备进行命名；只需命名，之后已命名设备在线时程序就会直接显示名称；只能提示本机连况，支持共享路由器等复杂网络环境。
      </p>
      <h4>丰富的实用插件</h4>
      <p class="dodge">
        集成网络学堂插件，从此不再错过重要课程信息；集成课程表插件，再会记不住在哪里上课；还有GPA计算器功能，方便查看你的成绩变化。
      </p>
    </div>
  </div>
</div>

<div id="block3">
  <div class="img-wrapper">
    <img src="images/products/tunet/Macbook-Space-Grey.png" class="mac">
    <img src="images/products/tunet/desktop.png">
  </div>
  <h3>再来一句桌面版装逼~</h3>
  <p>桌面版详细地装个逼，两排最佳大约这么长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长长</p>
  <p class="small">桌面版已上线，点此下载：</p>
  <div class="button-box container">
    <div id="Windows">
      <img src="images/products/tunet/windows.svg">
      <p>Windows</p>
    </div>
    <div id="OS-X">
      <img src="images/products/tunet/apple.svg">
      <p>OS X</p>
    </div>
    <div id="Linux">
      <img src="images/products/tunet/linux.svg">
      <p>Linux</p>
    </div>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}

{% block scripts %}
<!-- build:js scripts/index.js -->
<script src="scripts/products-tunet.js"></script>
<!-- endbuild -->
{% endblock %}
