{% extends 'base.html' %}

{% block title %}Lab μ - 清华科创学生社团{% endblock %}

{% block styles %}
<!-- build:css styles/products-now.css -->
<link rel="stylesheet" href="styles/products-now.css">
<!-- endbuild -->
{% endblock %}

{% block content %}

<div id="header">
  {% include 'navbar.html' %}
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="top-intro dodge">
        <h2>
          Tsinghua Now <span class="dash">——</span>
          <span class="new-line"><br></span>智能校园信息助理
        </h2>
        将校内各处分散的有用信息集中整合在一起，<br>并在最合适的时间向你展示最合适的信息。
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4 phone">
        <div class="phone-wrap">
          <div id="carousel-phone">
            <div id="carousel" class="carousel slide">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
              </ol>
              <!-- Inner -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/page1.png">
                </div>
                <div class="item">
                  <img src="images/page2.png">
                </div>
                <div class="item">
                  <img src="images/page3.png">
                </div>
                <div class="item">
                  <img src="images/page4.png">
                </div>
                <div class="item">
                  <img src="images/page5.png">
                </div>
                <div class="item">
                  <img src="images/page6.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="intro-wrap col-sm-4 col-sm-pull-4">
        <div class="intro left top dodge">
          <h4>DDL倒计时提醒</h4>
          我知道你们智商都很高<br>
          不会算错离DDL还有多少天<br>
          不过拖延症什么的谁能预料<br>
          总有一天你会发现我的必不可少
        </div>
        <div class="intro left bottom dodge">
          <h4>DDL课表公告一键link</h4>
          好消息：<br>
          助教把ddl改到昨天啦～<br>
          明天早上没课又可以<br>
          在梦里做作业啦～
        </div>
      </div>
      <div class="intro-wrap col-sm-4">
        <div class="intro right top dodge">
          <h4>GPA双法计算</h4>
          为你的成绩提供两种算法<br>
          等级或者百分制<br>
          双学位也不必担心<br>
          一目了然，无需动手
        </div>
        <div class="intro right bottom dodge">
          <h4>作业天气随时看</h4>
          让你的心情和校园同步<br>
          每一缕阳光<br>
          每一丝清风<br>
          每一次邂逅
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mid-block">
  <div class="container">
    <div class="row">
      <h1>All information. <span class="new-line"><br></span>One place.</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 left">
        <!-- <p class="big">即将推出<br>文图座位查询功能</p> -->
        <div class="link">
          <img src="images/products/now/now.png" alt="2d-code" class="code">
          <p class="left-align small dodge">Android版现已上线，<br>点此下载或扫描二维码：</p>
          <a class="download-button" href="//now.lab.mu/latest">下载Android版&gt;&gt;</a>
        </div>
      </div>
    <!-- </div> -->

    <!-- <div class="row clearfix"> -->
    <div class="col-md-4 left">
      <div class="link">
        <img src="images/products/now/now.png" alt="2d-code" class="code">
        <p class="left-align small dodge">iOS 版现已上线，<br>点击下载或扫描二维码：</p>
        <a class="download-button" href="//now.lab.mu/itunes">前往 App Store&gt;&gt;</a>
      </div>
    </div>
      <!-- <div class="col-sm-6 right">
        <img src="images/products/now/Samsung.png" class="phone">
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="end-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 left">
        <img src="images/products/now/iPhone-6-Device.png" class="phone">
      </div>
      <div class="col-sm-6 right">
        <div class="preview">
          <p>我们还在做更多：</p>
          <p class="big">iOS版即将上线，<br>敬请期待……</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="tip">
        贴心小棉袄一样的存在，请与你系的大牛学长使用同一款软件
        </p>
      </div>
    </div>
  </div>
</div> -->


{% include 'footer.html' %}

{% endblock %}

{% block scripts %}
<!-- build:js scripts/products-now.js -->
<script src="scripts/products-now.js"></script>
<!-- endbuild -->
{% endblock %}
